@font-face {
    font-family: 'PT Serif'; /* Гарнитура шрифта */
    src: local(pompadur), url(../font/PTF56F.woff); /* Для остальных браузеров */
}

.header {
    background: url(../image/background_2_new.jpg)
}

.open-login-popup, .open-register-popup {
    cursor: pointer;
}

a {
    text-decoration: none;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.content {
    width: 100%;
    font-family: 'PT Serif', serif;
}

.menu-top {
    padding-top: 2%;
    font-size: 26px;
    text-align: right;
    letter-spacing: calc(1em / 10);
}

.menu-top div {
    margin-left: 1%;
    display: inline-block;
}

.menu-top div a {
    color: black;
}

.imaster {
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 0.2% 0.6% 0.2% 0.6%;
}

.menu-right {
    margin: 2% 0% 0% auto;
    font-size: 30px;
    width: 295px;
    padding-bottom: 6%;
}

.menu-right div {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin-top: 6%;
    padding: 1% 1% 1% 8%;
    border-radius: 5px;
}

.menu-right div a {
    font-family: Manrope, serif;
    color: white;
}

.service-block {
    width: 100%;
    color: black;
    margin-top: 6%;
}

.service-block-name div {
    font-family: Manrope, serif;
    font-size: 44px;
    padding: 0 1.5% 0 1.5%;
    margin: 0.5% auto 0 auto;
    width: fit-content;
    letter-spacing: calc(1em / 10);
}

.service-block div {
    /*padding-bottom: 0;*/
}

.service-block-all {
    margin: 2% 3% 0 3% !important;
}

.service-outer-image {
    padding: 0 0 3% 0;
}

.service-block-all div {
    /*padding: 0;*/
}

.service-item {
    margin: 2% 0 0 0;
    padding-left: 45%;
    height: 175px;
    width: 530px;
    border: 2px black solid;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 30px;
    display: flex;
    align-items: center;
}

.service-image {
    margin: 0 0 0 1%;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.service-item p {
    margin: 0;
    letter-spacing: calc(1em / 10);
    color: #FFE4FE;
}

.service-block-button {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFE4FE;
    font-size: 28px;
    border-radius: 5px;
    padding: 1% 1.5%;
    margin: 1% auto 0 auto;
    width: fit-content;
    letter-spacing: calc(1em / 5);
}

.block-map {
    width: 100%;
    display: flex;
    margin: 6% 3% 0 3%;
    letter-spacing: calc(1em / 10);
}

.img-block {
    width: 42%;
}

.img-block img {
    width: 100%;
}

.block-big-part {
    width: 52%;
    text-align: center;
    padding: 3%;
}

.block-title {
    font-size: 44px;
    text-align: center;
}

.block-text {
    font-size: 36px;
    padding-top: 6%;
    margin-bottom: 5%;
}

.block-button {
    font-size: 24px;
    background-color: white;
    padding: 0 1.5% 0 1.5%;
    margin: 6% auto 0 auto;
    width: fit-content;
    color: black;
}

.service-image:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.top_masters_block {
    display: block;
    margin: 0 5% 0 5%;
}

.top_master_block {
    background-image: url("../image/top_master_template.png");
    width: 500px;
    height: 323px;
    /*width: 45%;*/
}