.gallery_image {
    object-fit: cover;
    width: 200px;
    margin: 0 auto;
}

p > span {
    font-size: 0.7em;
}

p > span:first-child {
    max-width: 90%;
    float: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

p > span:last-child {
    float: right;
}

.table > p:after {
    font-size: 0.8em;
    font-family: "Manrope", serif;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

/*TODO FIXME*/
p {
    margin: 0 !important;
    padding-right: 10px;
}

.right-inline-box {
    display: inline-flex;
    margin: 0 0 0 auto;
}

.full-width-inline-box {
    display: inline-flex;
    width: 100%;
}

.wall-menu-child {
    padding: 0 5px;
}

.solid-dark-border {
    border: #1a1e21 1px solid
}

.post_image {
    width: 65%;
    min-height: 450px;
    max-height: 450px;
    margin: 0 auto;
    object-fit: cover;
}
