.chat-card {
    display: flex;
    width: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.messages-placeholder {
    margin: 20px;
    width: 550px;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px 10px;
    display: inline-grid;
}

.message-text-left {
    font-size: 20px;
    background-color: #fee;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.message-text-right {
    font-size: 20px;
    background-color: #eef;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    margin: 0 0 5px auto;
}

st {
    font-size: 12px;
    display: block;
}

.message-textarea {
    margin: 10px;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    resize: none;
    position: absolute;
    bottom: 0;
}

.send-btn {
    width: 20px;
    height: 20px;
    object-fit: cover;
    position: absolute;
    bottom: 35px;
    right: 5px;
    cursor: pointer;
    opacity: 0.8;
}

.messages-container {
    overflow-y: scroll;
    height: 600px;
}

.send-btn:hover {
    opacity: 1.0;
}
