.padding-0-5 {
    padding: 0 5%;
}

.w-flex_mrgn-2 {
    display: -webkit-flex;
    margin: 2%;
}

.footer {
    text-align: center;
}

.header {
    width: 100%;
    padding: 10px 0;
    background-color: #51382ACC;
    display: inline-flex;
}

.header-text {
    font-family: Manrope, serif;
    font-size: 35px;
    margin: auto 0;
}

.header-text a {
    color: white;
}

.right-header-box {
    display: inline-flex;
    margin-left: auto;
    margin-right: 2%;
}

.small-icon {
    width: 55px;
}

a {
    text-decoration: none;
}

.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
}

.common-text {
    margin-bottom: 0;
    color: #51382A;
}

.small-text {
    font-size: 0.8em;
}

.small-light-text {
    font-size: 0.9em;
    color: #DCA269;
}

.button:hover {
    background-color: #DCA2694A;
    cursor: pointer;
}

.big-button {
    background-color: #DCA2697B;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
}
