.content-placeholder {
    background-color: #F6F7FB;
    border-radius: 40px;
    overflow: hidden;
}

.setting-content-placeholder {
    padding: 20px 0 0 0;
}

.news-data-box {
    padding: 30px 0 0 50px;
}

.personality-avatar-image {
    height: 175px;
    width: 175px;
    object-fit: cover;
    border-radius: 100px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    border: solid 15px #F6F7FB;
}

.small-avatar-image {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100px;
    margin: 0 auto;
    display: block;
}

.setting-placeholder-text-decorator {
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    border: none;
}

.input-box {
    margin: 25px 25px;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    width: 300px;
    overflow: hidden;
    align-content: flex-start;
    display: inline-grid;
}

.edit-button {
    cursor: pointer;
    display: block;
    margin: 0 0 0 auto;
}

.past-appointment {
    background-color: #E3ABC6 !important;
}

.news-block {
    margin-top: 20px;
    background-color: white;
    border-radius: 30px;
    padding: 25px;
    display: inline-flex;
}

#first-row, #second-row {
    display: inline-flex;
}

#first-row {
    height: 350px;
}

#second-row {
    /*height: 350px;*/
}

#home-button {
    background-color: #674D85;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0 10px 10px 0;
    font-weight: bolder;
}

#menu-photo-placeholder {
    margin-top: 50px;
}

#profile-filling-progress {
    width: 400px;
    border-radius: 30px;
    background-color: white;
    margin: 50px 0 0 0;
    padding: 25px;
    display: -webkit-inline-box;
}

#profile-filling-text {
    width: 70%;
    margin: auto 0 auto 20px;
}

#about-text-placeholder {
    resize: none;
}

/*КРУГОВОЙ PROGRESS BAR*/
.diagram {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #00C0EA;
    position: sticky;
    overflow: hidden;
}

.diagram::before {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    background: #FFF;
    z-index: 3;
    opacity: 1;
}

.diagram .piece {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
}

.diagram .piece::before {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
}

.diagram .piece.left {
    transform: rotate(0deg);
    z-index: 2;
    border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/
}

.diagram.over_50 .piece.left {
    transform: rotate(180deg);
}

.diagram .piece.right {
    transform: rotate(180deg);
    z-index: 1;
    border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/
}

.diagram.over_50 .piece.right {
    transform: rotate(360deg);
}

.diagram .left::before {
    background: #F6F7FB;
}

.diagram.over_50 .left::before {
    background: #00C0EA;
}

.diagram .right::before {
    background: #F6F7FB;
}

.diagram .text {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diagram .text span {
    font-size: 16px;
    display: block;
}

/*OVERRIDING*/

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 20px !important;
    border: none !important;
}

.paginate_button:hover {
    background: #674D85 !important;
    color: white !important;
}

.ct-series-a .ct-point {
    stroke: #674D85 !important;
}

.ct-series-a .ct-line{
    stroke: #674D85 !important;
}
