@media screen and (max-width: 1700px) {
    .login-popup, .register-popup {
        width: 600px;
    }
}

@media screen and (max-width: 1600px) {
    .login-popup, .register-popup {
        width: 550px;
    }
}

@media screen and (max-width: 1500px) {
    .login-popup, .register-popup {
        width: 500px;
    }
}

@media screen and (max-width: 1400px) {
    .login-popup, .register-popup {
        width: 500px;
    }
}

@media screen and (max-width: 1300px) {
    .login-popup, .register-popup {
        width: 450px;
    }
}

@media screen and (max-width: 1200px) {
    .login-popup, .register-popup {
        width: 450px;
    }

    .close-login-popup, .close-register-popup {
        font-size: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .login-popup, .register-popup {
        width: 400px;
    }


    .close-login-popup, .close-register-popup {
        font-size: 18px;
    }
}

@media screen and (max-width: 1000px) {
    .login-popup, .register-popup {
        width: 350px;
    }
}

@media screen and (max-width: 900px) {
    .login-popup, .register-popup {
        width: 350px;
    }

}

@media screen and (max-width: 800px) {
    .login-popup, .register-popup {
        width: 300px;
    }

    .close-login-popup, .close-register-popup {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .login-popup, .register-popup {
        width: 250px;
    }
}

@media screen and (max-width: 600px) {
    .login-popup, .register-popup {
        width: 250px;
    }
}

@media screen and (max-width: 500px) {
    .login-popup, .register-popup {
        width: 250px;
    }
}

@media screen and (max-width: 450px) {
    .login-popup, .register-popup {
        width: 200px;
    }
}

@media screen and (max-width: 400px) {
    .login-popup, .register-popup {
        width: 200px;
    }
}

@media screen and (max-width: 300px) {
    .login-popup, .register-popup {
        width: 200px;
    }
}

@media screen and (max-width: 250px) {
    .login-popup, .register-popup {
        width: 200px;
    }
}

@media screen and (max-width: 200px) {
    .login-popup, .register-popup {
        width: 200px;
    }
}