.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.popup {
    position: fixed;
    display: none;
    background: #ffffff;
    width: 550px;
    left: 50%;
    right: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    margin-top: 15em;
}

.popup-title {
    font-family: Manrope, serif;
    background-color: #5F4E7D;
    color: white;
    padding: 1% 0 0 3%;
    border: #4c4c4c solid 1px;
}

.popup-body {
    text-align: center;
    padding: 7% 5% 5% 5%;
}

.close-popup {
    position: absolute;
    margin: 2% 0 0 93%;
    width: 5%;
    cursor: pointer;
    color: #5F4E7D;
    background-color: #AEA1C4;
    text-align: center;
    border-radius: 0.2em;
    font-size: 20px;
}

.close-login-popup:focus, .close-register-popup:focus {
    transform: scale(0.9);
}

.no-scroll {
    overflow-y: hidden;
}

.popup-image {
    margin: 0% 10% 0% 10%;
    display: inline-flex;
    padding: 0 0 0.9em 0;
}

.small-popup-icon {
    width: 15%;
    background-color: #4c4c4c;
    padding: 2px 0 0 2px;
    border-radius: 0.2em;
}

.popup-image > input {
    width: 100%;
}

.small-info-popup {
    color: #4c4c4c;
    font-family: Manrope, serif;
}

.confirm-popup-btn {
    margin: 5% 0 0 25%;
    display: block !important;
    width: 50%;
}

.invalid-field-label-popup {
    display: none;
    font-family: Manrope, serif;
    color: red;
}

.phone-input-popup {
    /*TODO ПЕРЕНЕСТИ FONT SIZE*/
    font-size: 20px;
    width: 100%;
    margin: 0 0 0 auto;
}

.message-text-popup {
    padding: 0 0 20px 0;
}

body {
    /*line-height: 0;*/
}

.popup-btn {
    font-family: Manrope, serif;
    font-size: 25px;
    width: 200px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.popup-btn:hover {
    background-color: #AEA1C4;
}

.popup-input-field {
    font-family: Manrope, serif;
    color: #5F4E7D;
    width: 100%;
    font-size: 25px;
}

.country-phone-selected > span {
    display: inline-flex;
}