.login-popup-bg, .register-popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.login-popup, .register-popup {
    position: fixed;
    display: none;
    border: #000000 solid 2px;
    border-radius: 0.5em;
    background: #ffffff;
    width: 30%;
    left: 50%;
    right: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    margin-top: 15em;
}

.popup-title {
    font-family: Manrope, serif;
    background-color: #FFE4FE;
    padding: 1% 0 0 3%;
    height: 3em;
    margin: 0 0 0 20%;
    border-radius: 0.3em;
    border: #4c4c4c solid 1px;
}

.popup-body {
    text-align: center;
    padding: 7% 5% 5% 5%;
}

.close-login-popup, .close-register-popup {
    position: absolute;
    margin: 2% 0 0 93%;
    width: 5%;
    cursor: pointer;
    color: #FFE4FE;
    background-color: #4c4c4c;
    text-align: center;
    border-radius: 0.2em;
    font-size: 1.2em;
}

.close-login-popup, .close-register-popup:focus {
    transform: scale(0.9);
}

.no-scroll {
    overflow-y: hidden;
}

.image-input {
    margin: 0% 10% 0% 10%;
    display: inline-flex;
    padding: 0 0 1em 0;
}

.small-popup-icon {
    width: 15%;
    background-color: #4c4c4c;
    padding: 2px 0 0 2px;
    border-radius: 0.2em;
}

.image-input > input {
    width: 100%;
}

.small-info {
    color: #4c4c4c;
    font-family: Manrope, serif;
}

.confirm-btn {
    margin: 5% 0 0 25%;
    display: block !important;
    width: 50%;
}

.invalid-field-label {
    display: none;
    font-family: Manrope, serif;
    color: red;
}