.carousel-next-icon {
    background-image: url("../../image/icon/arrow_right_icon.svg");
    width: 50px;
    height: 50px;
}

.carousel-prev-icon {
    background-image: url("../../image/icon/arrow_left_icon.svg");
    width: 50px;
    height: 50px;
}

.carousel-control-prev, .carousel-control-next {
    width: auto;
}