.menu-box {
    background-color: #5F4E7D;
    padding: 10px 0;
    height: 100%;
}

.menu-child {
    display: inline-flex;
    padding: 5px;
    width: 100%;
}

.menu-text > a {
    margin: auto 10px auto 10px;
    font-size: 30px;
    color: white;
}