.menu-box {
    background-color: #523870;
    padding: 10px 0;
    height: 100%;
}

.menu-box-horizontal {
    margin-top: 30px;
    display: inline-flex;
    width: 100%;
    font-family: Manrope, serif;
}

.horizontal-menu-text > a {
    margin: auto 10px auto 10px;
    font-size: 16px;
    color: #523870;
    font-weight: bolder;
}

.horizontal-menu-child {
    background-color: white;
    border-radius: 30px;
    display: inline-flex;
    padding: 10px 20px;
    margin-left: 10px;
}

.menu-child {
    display: inline-flex;
    padding: 5px;
    width: 100%;
}

.menu-text > a {
    font-size: 16px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
    vertical-align: -webkit-baseline-middle;
}

.horizontal-menu-child[selected="true"] {
    background-color: #523870;
    .horizontal-menu-text > a {
        color: white;
    }
}

.menu-child[selected="true"] {
    background-color: #674D85;
}